* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
body {
  background-color: #111;
}
.link-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px auto;
  gap: 20px
}

.img{
  background-color: darkgreen;
  width: 150px;
  height: 150px;
  border-radius: 90px;
  text-align: center;
}
.link-bio h1 {
  font-size: 40px;
}
.link-bio p {
  font-size: 20px;
}
.link-bio a {
  background-color: darkgreen;
  width: 100%;
  color: white;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid darkgreen;
  border-radius: 30px;
}
.link-bio a:hover {
  background-color: #fff;
  color: darkgreen;
}
